  <div class="contenedorTabla">
    <div class="container">
      <table>
        <tr>
          <th>Aleho Raspberry 4 </th>
          <th></th>
        </tr>
        <tr>
          <td>Temperatura 🥵: </td>
          <td id="label_temp"></td>
        </tr>
        <tr>
          <td>Sesión Online 💻: </td>
          <td id="label_uptime"></td>
        </tr>
        <tr>
          <td>Memoria Libre 🧮: </td>
          <td id="label_freeram"></td>
        </tr>
        <tr>
          <td>Memoria Total 🧮: </td>
          <td id="label_totalram"></td>
        </tr>
      </table>
    </div>

    <div class="container mt-4">
      <table>
        <tr>
          <th>GPIO</th>
          <th>PIN</th>
          <th>ON/OFF</th>
        </tr>
        <tr>
          <td>16 - Green</td>
          <td>36</td>
          <td><button class="buttonGpio red" id="button_g16">OFF</button></td>
        </tr>
        <tr>
          <td>20 - Yellow</td>
          <td>38</td>
          <td><button class="buttonGpio red" id="button_g20">OFF</button></td>
        </tr>
        <tr>
          <td>21 - Red</td>
          <td>40</td>
          <td><button class="buttonGpio red" id="button_g21">OFF</button></td>
        </tr>
        <tr>
          <td>26 - Buzzer</td>
          <td>37</td>
          <td><button class="buttonGpio red" id="button_g26">OFF</button></td>
        </tr>
      </table>
    </div>

    <div class="container mt-4">
      <table>
        <tr>
          <th>IP</th>
          <th></th>
        </tr>
        <tr>
          <td> <input type="text" id="input_ip"> </td>
          <td><button class="buttonGpio green" id="button_add">ADD</button></td>
        </tr>
      </table>
    </div>
  </div>