<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">

    <a class="navbar-brand" href="/">
      <img src="/ico/favicon.ico" alt="" width="32" height="32" class="d-inline-block align-text-top">
      <%= title %>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> API Preset </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li> <a class="dropdown-item" href="/api/gpio_status">GPIO Status</a> </li>
            <li> <a class="dropdown-item" href="/api/switchGpio?pin=36">Switch GPIO</a> </li>
            <li><hr class="dropdown-divider"></li>
            <li> <a class="dropdown-item" href="/api/gpioSetGreen">Green Led On</a> </li>
            <li> <a class="dropdown-item" href="/api/gpioSetYellow">Yellow Led On</a> </li>
            <li> <a class="dropdown-item" href="/api/gpioSetRed">Red Led On</a> </li>
            <li><hr class="dropdown-divider"></li>          
            <li> <a class="dropdown-item" href="/api/buzzerOn">Buzzer On</a> </li>
            <li> <a class="dropdown-item" href="/api/buzzerOff">BuzzerOff</a> </li>
          </ul>
        </li>
      </ul>
    </div>

  </div>
</nav>